.jumbotron{
  background-color:darkorange;
  border:1px solid grey;
  }
  .header{
    color:white;
    text-align: center;
  }
  .sidebar{
    float: left;
    background-color:lightgrey;
    height:90%;
    width:35%;
    border-radius: 10px;
    border: 1px solid grey;
  }
.header2{
  color: black;
}
.header3{
  color:black;
  font-size:30px;
}
p{
  font-size: 20px;
}
.pingpong{
  float:right;
}
